body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play-button {
  width: 40px;
  height: 40px;
  outline: none;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#matrix {
  margin-top: 20px;
  display: flex;
  
  .left-col {
    flex: 2;
    display: flex;
    flex-direction: column;

    .track-title {
      color: #333;
    }
  }
  
  .right-col {
    flex: 7;
    .track-line {
      background-color: #aaaaaa;
    }
  }
}